# DataSet Preparation

In [2]:
import pandas as pd

In [2]:
data=pd.read_csv('weather.csv',encoding='utf-8')
data.columns

Index(['01-01 01:00', '01-01 02:00', '01-01 03:00', '01-01 04:00',
       '01-01 05:00', '01-01 06:00', '01-01 07:00', '01-01 08:00',
       '01-01 09:00', '01-01 10:00',
       ...
       '19-01 05:00.33', '19-01 06:00.33', '19-01 07:00.33', '19-01 08:00.33',
       '19-01 09:00.33', '19-01 10:00.33', '19-01 11:00.33', '19-01 12:00.33',
       '19-01 13:00.33', '19-01 14:00.33'],
      dtype='object', length=24494)

In [3]:
data.head()

,01-01 01:00,01-01 02:00,01-01 03:00,01-01 04:00,01-01 05:00,01-01 06:00,01-01 07:00,01-01 08:00,01-01 09:00,01-01 10:00,...,19-01 05:00.33,19-01 06:00.33,19-01 07:00.33,19-01 08:00.33,19-01 09:00.33,19-01 10:00.33,19-01 11:00.33,19-01 12:00.33,19-01 13:00.33,19-01 14:00.33
0,0.0,0.000009,0.000014,0.000014,0.000032,0.000149,0.000186,0.001388,0.001468,0.001468,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.000000,0.000017,0.000121,0.000152,0.001315,0.001386,0.001386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.000000,0.000016,0.000103,0.000128,0.001226,0.001288,0.001288,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.000015,0.000084,0.000103,0.001137,0.001190,0.001190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000016,0.000070,0.000084,0.000832,0.000984,0.000984,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
coordinates=pd.read_csv('coordinates.csv',encoding='utf-8')
coordinates.shape

(7396, 2)

In [5]:
data['longitude']=coordinates['longitude']
data['latitude']=coordinates['latitude']
data.to_csv('weather_coordinates.csv',index=False)

In [6]:
new_data=pd.read_csv('weather_coordinates.csv',encoding='utf-8')
new_data.shape

(7396, 24496)

In [8]:
new_data.head()

,01-01 01:00,01-01 02:00,01-01 03:00,01-01 04:00,01-01 05:00,01-01 06:00,01-01 07:00,01-01 08:00,01-01 09:00,01-01 10:00,...,19-01 07:00.33,19-01 08:00.33,19-01 09:00.33,19-01 10:00.33,19-01 11:00.33,19-01 12:00.33,19-01 13:00.33,19-01 14:00.33,longitude,latitude
0,0.0,0.000009,0.000014,0.000014,0.000032,0.000149,0.000186,0.001388,0.001468,0.001468,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.5,37.0
1,0.0,0.000000,0.000000,0.000000,0.000017,0.000121,0.000152,0.001315,0.001386,0.001386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.6,37.0
2,0.0,0.000000,0.000000,0.000000,0.000016,0.000103,0.000128,0.001226,0.001288,0.001288,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.7,37.0
3,0.0,0.000000,0.000000,0.000000,0.000015,0.000084,0.000103,0.001137,0.001190,0.001190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.8,37.0
4,0.0,0.000000,0.000000,0.000000,0.000016,0.000070,0.000084,0.000832,0.000984,0.000984,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.9,37.0

In [3]:
df=pd.read_csv('datasets/rainfall_data_transformed_final.csv',encoding='utf-8')

In [5]:
%pip install pymannkendall

Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in c:\users\risha\miniconda3\envs\ultralytics-env\lib\site-packages (from pymannkendall) (1.26.4)
Requirement already satisfied: scipy in c:\users\risha\miniconda3\envs\ultralytics-env\lib\site-packages (from pymannkendall) (1.14.1)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3
Note: you may need to restart the kernel to use updated packages.

#  Is the climate changing?

In [6]:
import pandas as pd
import numpy as np
import pymannkendall as mk
import matplotlib.pyplot as plt
import seaborn as sns

# --- 2. SETUP ---
START_YEAR = 2005
NUM_YEARS = 16

# --- 2. Load the Data ---
print("Loading dataset...")
# df = pd.read_csv('weather_coordinates.csv', index_col=0)

# Separate location info
location_data = df[['longitude', 'latitude']].copy()
rainfall_data = df.drop(columns=['longitude', 'latitude'])

# --- 3. Preprocess: Convert Hourly â†’ Yearly ---
print("Preprocessing data: Aggregating into yearly totals...")

# Clean column names: remove trailing decimals like ".33"
cleaned_cols = [col.split('.')[0] for col in rainfall_data.columns]

current_year = START_YEAR
parsed_dates = []
last_month_day = None

for col in cleaned_cols:
    # --- Handle 24:00 issue ---
    if "24:00" in col:
        # Split into date + dummy hour
        day_month = col.split()[0]   # e.g. "01-01"
        hour = col.split()[1]        # "24:00"
        
        # Convert to datetime (00:00 of same day)
        dt = pd.to_datetime(day_month + " 00:00", format="%d-%m %H:%M", errors="coerce")
        if dt is pd.NaT:
            raise ValueError(f"Could not parse column name: {col}")
        
        # Shift to next day
        dt = dt + pd.Timedelta(days=1)
    else:
        dt = pd.to_datetime(col, format="%d-%m %H:%M", errors="coerce")
        if dt is pd.NaT:
            raise ValueError(f"Could not parse column name: {col}")
    
    # --- Detect year rollover ---
    if last_month_day and dt.strftime('%m-%d %H:%M') < last_month_day:
        current_year += 1
    
    # Apply current year
    dt = dt.replace(year=current_year)
    parsed_dates.append(dt)
    
    last_month_day = dt.strftime('%m-%d %H:%M')

# Replace rainfall_data column headers with parsed datetimes
rainfall_data.columns = parsed_dates

# Aggregate by year
yearly_rainfall = rainfall_data.groupby(rainfall_data.columns.year, axis=1).sum()

print("Yearly rainfall prepared:")
print(yearly_rainfall.head())
# --- 4. Mann-Kendall Trend Analysis ---
print("\nPerforming Mann-Kendall Trend Analysis...")
results = []

for _, row in yearly_rainfall.iterrows():
    ts = row.values
    if np.var(ts) > 0:
        test_result = mk.original_test(ts, alpha=0.05)
        results.append([
            test_result.trend,
            test_result.p,
            test_result.s,
            test_result.slope
        ])
    else:
        results.append(['no trend', 1.0, 0.0, 0.0])

trend_results = pd.DataFrame(
    results,
    columns=['trend', 'p_value', 's_statistic', 'sen_slope'],
    index=location_data.index
)

# --- 5. Combine Results ---
final_df = location_data.join(trend_results)
final_df['significance'] = np.where(final_df['p_value'] < 0.05, 'Significant', 'Not Significant')

print("\nTrend analysis complete. Sample results:")
print(final_df.head())

# --- 6. Visualization ---
print("\nGenerating trend map...")

plt.style.use('seaborn-v0_8-whitegrid')
fig, ax = plt.subplots(figsize=(12, 10))

sns.scatterplot(
    data=final_df,
    x='longitude',
    y='latitude',
    hue='trend',
    hue_order=['increasing', 'decreasing', 'no trend'],
    palette={'increasing': 'royalblue', 'decreasing': 'crimson', 'no trend': 'lightgray'},
    style='significance',
    markers={'Significant': 'X', 'Not Significant': 'o'},
    s=100,
    alpha=0.8,
    ax=ax
)

ax.set_title('Act 1: Spatiotemporal Trend of Rainfall', fontsize=18, weight='bold')
ax.set_xlabel('Longitude', fontsize=12)
ax.set_ylabel('Latitude', fontsize=12)
ax.legend(title='Trend (p < 0.05)', title_fontsize=13, fontsize=11, markerscale=1.5)
ax.set_aspect('equal', adjustable='box')

plt.tight_layout()
plt.savefig("act1_trend_map.png", dpi=300)
plt.show()

Loading dataset...
Preprocessing data: Aggregating into yearly totals...

ValueError: Could not parse column name: 2010-06-01 00:00:00